@import '~sass/_variables';
@import '~sass/_mixins';
@import "~bootstrap/scss/bootstrap.scss";

$simple-line-font-path: "~simple-line-icons/fonts/";
@import "~simple-line-icons/scss/simple-line-icons";

// NGX-DATATABLE
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


html, body {
    background-color: $background-color !important;
    font-size: .91rem;
}

.card-header {
    font-weight: bold;
    background-color: #F9F9FA;
}

.card-footer {
    background-color: #F9F9FA;
}

/* Paginator Color Customizations */

.mat-paginator.leaderboardChart {
    background-color: #FFFFFF;
}

.mat-paginator.surveyCards {
    background-color: $background-color;
}

// Breadcrumb Customization

.breadcrumb {
    padding: 5px 40px;
    border-radius: 0px;
    background-color: #D9E0E7;
}

// Prime NG Table

.ui-helper-clearfix {
    margin: 4px;

    button {
        float: right;
    }
}

  
/*ng-select component*/
// ng-select {
//     background-color: #ffffff !important;
//   }
  
//   ng-select div {
//     border-radius: .2rem !important;
//     font-size: .875rem !important;
//   }
  
//   ng-select > div > div.single > div.clear, ng-select > div > div.single > div.toggle {
//     color: #000000 !important;
//   }



