<div class="sidebar" [ngClass]="{'sidebar-hidden': !openSideNav }">

  <div *ngFor="let sideNav of sideNavList; let i = index;">

    <div *ngIf="!sideNav.parentNav && !sideNav.childNav" routerLink="{{sideNav.route}}" class="nav-item" routerLinkActive="selected-row">
      <i class="{{sideNav.icon}} icon"></i>
      <span class="side-nav-menu-item">{{sideNav.name}}</span>
    </div>

    <div *ngIf="sideNav.parentNav" (click)="sideNav.showSubNav = !sideNav.showSubNav" class="nav-item">
      <div *ngIf="sideNav.parentNav">
        <i class="{{sideNav.icon}} icon"></i>
        <span class="side-nav-menu-item">{{sideNav.name}}</span>
        <i [ngClass]="sideNav.showSubNav ? 'icon-arrow-down icon dropdown-icon' : 'rotate icon-arrow-down icon dropdown-icon' " aria-hidden="true"></i>
      </div>
    </div>

    <div class="nav-dropdown-items" [ngClass]="{'supervisorMenu': sideNav.showSubNav }" [ngStyle]="{'height': sideNav.showSubNav ? sideNav.children.length * 41 + 'px': '' }">
      <div *ngFor="let childNav of sideNav.children" routerLink="{{childNav.route}}" routerLinkActive="selected-row" #teamSurveys="routerLinkActive"
        class="nav-item">
        <i class="{{childNav.icon}} icon"></i>
        <span class="side-nav-menu-item">{{childNav.name}}</span>
      </div>
    </div>

  </div>

</div>