<div style="border: 1px solid green;">
  <img src="../../assets/dog blue logo.png" alt="" width="255" height="57" style="margin-bottom: 20px;">  <!--TODO See if height, width and margin can be moved to a css file-->    
  <form>
      <div class="form-group">
          <input type="text" class="form-control form-control-sm" aria-describedby="search" placeholder="Search">
      </div>
  </form>
  <br/>
  <div> <!--TODO: Center Text in this div-->
    <p>Overview</p> <!--TODO: On Hover, highlight text, on select, change background color -->
    <p>Sales Metrics</p>
    <p>Customer Satisfaction</p>
    <p>Supervisor Feedback</p>
    <p>Badges</p>
    <p>Admin Settings</p>
  </div>
</div>
