#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 56px;
    height: 100%;
    overflow-y: hidden;
    background: #23272D;
    transition: width 0.5s;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #808b9c;
    font-size: 14px;
    transition: color 0.5s;
    border-left: 3px solid transparent;
}

.sidebar-nav li a:hover {
    color: #FFFFFF;
    border-left: 3px solid #00B6EE;
}

#sidebar-wrapper.sideBar {
    width: 250px;
    transition: width 0.5s;
}
