@import '~sass/_variables';

.sidebar {
    z-index: 1;
    position: fixed;
    top: 60px;
    width: 250px;
    min-height: 100vh;
    overflow-y: hidden;
    background-color: $dark;
    transition: width 0.25s;

    .nav-item {
        text-indent: 2px;
        white-space: nowrap;
        cursor: pointer;   
        user-select: none; 
        text-decoration: none;
        padding: 11px;
        list-style: none;
        margin: 0;
    
        display: flex;
        align-items: center;
    
        transition: background-color 0.3s;
    
        .side-nav-menu-item {
            color: #a8acb1;
        }
    }
}

.sidebar-hidden {
    width: 0px;
    transition: width 0.25s;
}

.nav-item span, .sub-sidebar-nav span {
    display: inline;
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.25s;
}

.nav-item:hover {
    background-color: #5f666c;
}

.nav-item.selected-row:hover {
    background-color: #181B21;
}

.nav-item:hover .side-nav-menu-item, .sub-sidebar-nav:hover .side-nav-menu-item {
    color: #FFFFFF;
}

.nav-item:hover .icon {
    color: #FFFFFF;
}

.icon {
     color: #a8acb1;
     font-size: 16px;
     vertical-align: middle;
     padding-bottom: 2px;
     padding-right: 3px;
     margin: 0 10px 0 7px;
     transition: color 0.25s;  
}

.selected-row .icon {
    color: $primary !important;
}

.selected-row .side-nav-menu-item {
    color: #FFFFFF !important;
}

.selected-row {
    background-color: #181B21; 
}

.nav-dropdown-items {
    margin-left: auto;
    height: 0px;
    background-color: #353a42;
    transition: background-color .3s ease-in-out;
    transition: height .3s ease-in-out;    
    overflow: hidden;
}

.dropdown-icon {
    font-size: 10px;
    font-weight: bold;
    margin-right: 0px;
    margin-left: auto;
}

.supervisorMenu, .systemMenu {
    transition: height .3s ease-in-out;
    height: 82px;
}

.subItemActive span {
    transition: color 0.25s;
    color: #FFFFFF !important;
}

.subItemActive i {
    transition: color 0.25s;
    color: #00B6EE !important;
}