#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    top: 46px;
    width: 56px;
    min-height: 100vh;
    overflow-y: hidden;
    background: #23272D;
    transition: width 0.5s;
}

#sidebar-nav {
    border-left: 3px solid transparent;        
    text-indent: 8px;
    line-height: 40px;
    white-space: nowrap;
    cursor: pointer;   
    user-select: none; 
    text-decoration: none;
    padding: 0;
    list-style: none;
    margin: 0;
}

#sidebar-nav span {
    display: inline;
    text-decoration: none;
    color: #808b9c;
    font-size: 14px;
    transition: color 0.25s;
}

#sidebar-nav:hover {
    border-left: 3px solid #00B6EE;
}

#sidebar-nav:hover #side-nav-menu-item {
    color: #FFFFFF;
}

#sidebar-wrapper.sideBar {
    width: 250px;
    transition: width 0.25s;
}

#icon {
     color: #808b9c;
     font-size: 16px;
     vertical-align: middle;
     padding-bottom: 2px;
     margin-right: 10px;
     transition: color 0.25s;  
    }

#sidebar-nav:hover #icon {
    color: #FFFFFF;
}

.selected-row #icon {
    color: #00B6EE !important;
}

.selected-row #side-nav-menu-item {
    color: #FFFFFF !important;
}

.selected-row {
    border-left: 3px solid #00B6EE !important;
    background-color: #181b1f !important;   
}
