<div id="page-content-wrapper" [ngClass]="{'sideBar': openSideNav}">
    <div class="container-fluid">
        <div class="rows">
            <div class="col-lg-12">
                <div class="page-header">
                    <!--Put dashboard title in each component with dynamic value and rename this component-->
                    <i id="icon" class="material-icons md-light">dashboard</i>
                    <h3>Dashboard</h3>
                </div>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>