#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 30px;
    margin-top: 46px;
    transition: padding 0.5s;
}

#page-content-wrapper.sideBar {
    padding-left: 250px;
    transition: padding-left 0.25s;
}

.page-header h3 {
    font-weight: lighter;
    margin-bottom: 0;
    padding-left: 10px;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #E9E9E9;    
    user-select: none;    
}