#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 56px;
    /* background-color: #F4F4F4; */
    transition: padding 0.5s;
}

#page-content-wrapper.sideBar {
    padding-left: 250px;
    transition: padding-left 0.5s;
}