// .header-wrapper {
//     height: 50px;
//     display: flex;
//     flex-direction: row;
//     background-color: #FFFFFF;
//     position: fixed;
//     width: 100%;
//     z-index: 1000;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }

// .hamburgerMenu {
//     width: 60px;
//     font-size: 14px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     cursor: pointer;
// }

// .hamburgerMenu:hover {
//     background-color: #F6F6F6;
// }

// .company-logo {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .company-logo img {
//     padding: 0 10px 0 0;
//     width: 140px;
//     user-select: none;   
// }

// .messages {
//     margin-left: auto;
// }

// .messages {
//     line-height: 50px;
//     height: 50px;
//     width: 50px;
//     color: #333333;
//     font-size: 24px;
//     user-select: none;
//     float: right;
//     text-align: center;
// }

// .messages:hover, .profile:hover, .logout:hover {
//     background-color: #F8F8F8;
//     transition: background-color 0.2s;
// }


//////NEW HEADER DESIGN/////////

@import '~sass/_variables';

.header-wrapper {
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .logo-wrapper {
        background-color: $primary;
        min-width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #1985ac;        
        img {
            padding: 0;
            width: 120px;
            user-select: none;   
        }
    }

    .mobile-logo-wrapper {
        background-color: $primary;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #1985ac;        
        img {
            padding: 0;
            width: 120px;
            user-select: none;
            margin: auto;   
        }

        .mobile-hamburger-menu {
            cursor: pointer;
            user-select: none;
            color: $light;
            height: 19px;

            .icon-menu {
                font-size: 19px;
                margin-left: 15px;
            }

            &:hover {
                span {
                    transition: 0.25s;
                    color: #949ba3;
                }
            }
        }
    }
    
    .header-sub-wrapper {
        border-bottom: 1px solid $light;
        display: flex;
        flex-direction: row;
        width: inherit;

        .hamburger-menu {
            width: 60px;
            height: 100%;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;
            color: $light;
            border-right: 1px solid $light;

            .icon-menu {
                font-size: 16px;
            }

            &:hover {
                span {
                    transition: 0.25s;
                    color: #949ba3;
                }
            }
        }

        .navbar {
            margin-left: auto;
            display: flex;
            align-items: center;

            .avatar {
                width: 45px;
                height: 45px;
                border-radius: 50%;

                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                background-color: $light;
                user-select: none;
                cursor: pointer;
            }

            .dropdown-toggle::after {
                display:none !important;
            }
        }
    }

    .mobile-avatar {
        background-color: $light;
        margin-right: 15px;
        border-radius: 50%;
        padding: 10px;
        height: 45px;
        width: 45px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        font-weight: bold;
    }

    .dropdown-toggle::after {
        display:none !important;
    }



}



