<div *ngIf="!mobileView" class="header-wrapper">
  <div class="logo-wrapper">
    <img src="../../../assets/skillamp-slim-white.png" alt="">
  </div>
  <div class="header-sub-wrapper">
    <div (click)="onChangeNav()" class="hamburger-menu">
      <span class="icon-menu"></span>
    </div>
    <div class="current-user">
      <button mat-button [matMenuTriggerFor]="menu">
        {{user?.firstName}} {{user?.lastName}}
      </button>
      <mat-menu #menu="matMenu">
        <button routerLink="/profile" mat-menu-item>Profile</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</div>

<div *ngIf="mobileView" class="header-wrapper">
  <div class="mobile-logo-wrapper">
    <div (click)="onChangeNav()" class="mobile-hamburger-menu">
      <span class="icon-menu"></span>
    </div>
    <img src="../../../assets/skillamp-slim-white.png" alt="">
  </div>
  <!-- <div class="header-sub-wrapper">
      <div (click)="onChangeNav()" class="hamburger-menu">
        <span class="icon-menu"></span>
      </div>
      <div class="current-user">
        <button mat-button [matMenuTriggerFor]="menu">
          {{user?.firstName}} {{user?.lastName}}
        </button>
        <mat-menu #menu="matMenu">
          <button routerLink="/profile" mat-menu-item>Profile</button>
          <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>
      </div>
    </div> -->
</div>