#header-wrapper {
    height: 46px;
    border: 1px solid blue;
}

#hamburger-menu {
    width: 50px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hamburger-menu i {
    cursor: pointer;    
}