.header-wrapper {
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hamburgerMenu {
    width: 60px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hamburgerMenu:hover {
    background-color: #F6F6F6;
}

.company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo img {
    padding: 0 10px 0 0;
    width: 140px;
    user-select: none;   
}

.messages {
    margin-left: auto;
}

.messages {
    line-height: 50px;
    height: 50px;
    width: 50px;
    color: #333333;
    font-size: 24px;
    user-select: none;
    float: right;
    text-align: center;
}

.messages:hover, .profile:hover, .logout:hover {
    background-color: #F8F8F8;
    transition: background-color 0.2s;
}
