<div *ngIf="!mobileView" class="header-wrapper">
  <div class="logo-wrapper">
    <img src="../../../assets/skillamp-slim-white.png" alt="">
  </div>
  <div class="header-sub-wrapper">
    <div (click)="onChangeNav()" class="hamburger-menu">
      <span class="icon-menu"></span>
    </div>
    <div class="navbar">
      <div ngbDropdown placement="bottom-right">
        <div id="dropdownBasic1" ngbDropdownToggle class="avatar">{{userInitials}}</div>
        <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" routerLink="/profile">Profile</button>
          <button class="dropdown-item" (click)="onLogout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mobileView" class="header-wrapper">
  <div class="mobile-logo-wrapper">
    <div (click)="onChangeNav()" class="mobile-hamburger-menu">
      <span class="icon-menu"></span>
    </div>
    <img src="../../../assets/skillamp-slim-white.png" alt="">
    <div ngbDropdown placement="bottom-right">
      <div id="dropdownBasic1" ngbDropdownToggle class="mobile-avatar">{{userInitials}}</div>
      <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" routerLink="/profile">Profile</button>
        <button class="dropdown-item" (click)="onLogout()">Logout</button>
      </div>
    </div>
  </div>
</div>