#header-wrapper {
    height: 46px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DDDDDD;
    background-color: #FFFFFF;
}

#hamburger-menu {
    width: 50px;
    line-height: 46px;
    text-align: center;
}

#hamburger-menu i {
    cursor: pointer;
    line-height: 46px;
    user-select: none;
}

#my-account {
    line-height: 46px;
    cursor: pointer;
    float: right;
    border-right: 1px solid #F1F1F1;
    border-left: 1px solid #F1F1F1;
    padding: 0 15px;
    margin-left: auto;
}