.card {
    /* margin-bottom: 20px; */
    padding: 10px;
    height: 280px;
    width: 100%;
    background-color: #FFFFFF;

    border: 0 solid #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.innerChartWrapper {
   width: 100%;
}

.chartTitleBar {
    border-bottom: 2px solid #F7F7F7;
    /* padding: 10px */
}

.chartTitle {
    font-size: 15px;
}