<div class="card">
    <div class="row chartTitleBar">
        <div class="col-md-6">
            <span class="chartTitle">Customer Feedback</span>
        </div>
        <div class="col-md-6">
            <span>Date Filter</span>
        </div>
    </div>
    <div class="row innerChartWrapper">
        <ngx-charts-area-chart
            [results]="single"
            [scheme]="colorScheme"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [yScaleMin]="yScaleMin"
            [yScaleMax]="yScaleMax"
            [curve]="curve"
            (select)="onSelect($event)">
        </ngx-charts-area-chart> 
    </div>
 


  
</div>