<modal [closeOnOutsideClick]="false" [closeOnEscape]="false">
  <modal-header>
    <span>{{user.firstName}} {{user.lastName}} ({{user.username}})</span>
  </modal-header>
  <modal-content>
    <div>
      <strong>Username:</strong>
      <span>{{user.username}}</span>
    </div>
    <div>
      <strong>First Name:</strong>
      <span>{{user.firstName}}</span>
    </div>
    <div>
      <strong>Last Name:</strong>
      <span>{{user.lastName}}</span>
    </div>
    <div>
      <strong>Email:</strong> 
      <span>{{user.email}}</span>
    </div>
    <div>
      <strong>Supervisor:</strong>
      <span *ngIf="user.supervisor">{{user.supervisor.firstName}} {{user.supervisor.lastName}} ({{user.supervisor.username}})</span>
      <span *ngIf="!user.supervisor">None</span>
    </div>
    <div>
      <strong>Role(s):</strong> 
      <span class="badge badge-secondary" *ngFor="let role of user.roles">{{role.name}}</span>
    </div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="close()">close</button>
  </modal-footer>
</modal>