<mat-form-field>
  <mat-select [(value)]="typeSort">
    <mat-option value="rating">Rating</mat-option>
    <mat-option value="liked">Liked</mat-option>
    <mat-option value="disliked">Disliked</mat-option>
    <mat-option value="productDesc">Product Description</mat-option>
  </mat-select>
</mat-form-field>
<span style="margin-right: 30px;"></span>
<mat-form-field>
  <mat-select [(value)]="valueSort">
    <mat-option value="recentlyAdded">Recently Added</mat-option>
    <mat-option value="highestReviews">Highest Reviews</mat-option>
    <mat-option value="lowestReviews">Lowest Reviews</mat-option>
  </mat-select>
</mat-form-field>
  