@import '~sass/_variables';

.wrapper {
    background-color: $dark;
    height: 100vh;
    
    .top {
        background-color: $background-color;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: 100px;
        }
    }

    .bottom {
        background-color: $dark;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .exception-wrapper {
            width: 400px;
            padding: 50px 25px;
            text-align: center;

            .exception-summary {
                display: block;
                color: #FFFFFF;
                font-size: 36px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .exception-detail {
                display: block;
                color: #FFFFFF;
                margin-bottom: 50px;
            }

            button {
                width: 90%;
                display: block;
                margin: 0 auto 70px auto;
            }

            img {
                width: 200px;
            }
        }
    }
}