<div class="wrapper">
    <div class="top">
        <img class="img-fluid" src="../../../assets/icon-404.png" alt="404 Not Found">
    </div>
    <div class="bottom">
        <div class="exception-wrapper">
            <span class="exception-summary">Page Not Found</span>
            <span class="exception-detail">The resource you are looking for does not exist.</span>
            <button routerLink="/dashboard" class="btn btn-primary">Dashboard</button>
            <img src="../../../assets/skillamp-slim-color.png" alt="SkillAmp Logo" class="img-fluid">
        </div>
    </div>
</div>