* {
    font-size: 14px;
}

.card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 0 solid #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.card-body {
    padding: 0;
}
