<div class="card">
    <div class="card-header">
        <p>Surveys</p>
        <div class="button-group">
            <p>Results for past:</p>
            <ng-select bindValue="value" bindLabel="label" [searchable]="false" [clearable]="false" [items]="daysFilterList" (change)="onSelectFilter(daysFilter)" [(ngModel)]="daysFilter"></ng-select>
        </div>
    </div>
    <div class="card-body">
        <div style="height: 300px">
            <canvas *ngIf="chartLoaded" baseChart height="300" [options]="lineChartOptions" [datasets]="lineChartData" [colors]="lineChartColors"
                [labels]="lineChartLabels" [chartType]="lineChartType">
            </canvas>
        </div>
    </div>
</div>