@import '~sass/_variables';

.card-header {
    p {
        display: inline-block;
        font-size: 14px;
        line-height: 36px;
        margin: 0px;
    }

    .button-group {
        float: right;
        display: flex;
        flex-direction: row;

        p {
            margin-right: 5px;
        }

        .ng-select {
            .selectFilter {
                min-height: 28px;
            }
        }


    }
}

.dateFilterActive {
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    background-color: $primary;
    color: #FFFFFF;
}

canvas {
    width: 100% !important;
}