@import '~sass/_variables';

.card-header {
    p {
        display: inline-block;
        font-size: 14px;
        line-height: 31px;
        margin: 0px;
    }

    .button-group {
        float: right;
        border: 1px solid #c0cadd;
        color: #c0cadd;
        display: flex;
        flex-direction: row;
        cursor: pointer;

        span {
            padding: 5px 8px;              
        }

        .sort-week {
            border-right: 1px solid #c0cadd;

            &:hover {
                transition: color .15s ease-in-out, background-color .15s ease-in-out;
                background-color: $secondary;
                color: #FFFFFF;
            }
        }

        .sort-month {
            border-right: 1px solid #c0cadd;

            &:hover {
                transition: color .15s ease-in-out, background-color .15s ease-in-out;
                background-color: $secondary;
                color: #FFFFFF;
            }
        }

        .sort-year {
            border-right: 1px solid #c0cadd;

            &:hover {
                transition: color .15s ease-in-out, background-color .15s ease-in-out;
                background-color: $secondary;
                color: #FFFFFF;
            }
        }

        .sort-all {
            &:hover {
                transition: color .15s ease-in-out, background-color .15s ease-in-out;
                background-color: $secondary;
                color: #FFFFFF;
            }
        }
    }
}

.dateFilterActive {
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    background-color: $primary;
    color: #FFFFFF;
}

canvas {
    width: 100% !important;
}