<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText placeholder="Filter Results" class="tableFilter">        
</div>

<p-dataTable
  [globalFilter]="gb"
  [value]="users"
  [(selection)]="selectedUsers" 
  [rows]="10"
  [stacked]=autoResizeTable
  (window:resize)="onResize($event)"
  [paginator]="true"
  [headerCheckboxToggleAllPages]="true" 
  [rowsPerPageOptions]="[10,25,50,100]">
    <p-header>
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-plus" iconPos="left" style="float:right" label="{{button.title}}" routerLink="{{button.link}}" *ngFor="let button of headerButtons"></button>        
        </div>
    </p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
    <p-column [style]="{'font-size': '12px'}" field="username" header="Username" [sortable]="true"></p-column>    
    <p-column [style]="{'font-size': '12px'}" field="firstName" header="First Name" [sortable]="true"></p-column>
    <p-column [style]="{'font-size': '12px'}" field="lastName" header="Last Name" [sortable]="true"></p-column>
    <p-column [style]="{'width':'105px'}">    
      <ng-template pTemplate="header">
        <p>Actions</p>
      </ng-template>    
      <ng-template let-data="rowData" pTemplate="body" style="max-width: 50px">
              <div *ngFor="let button of actionButtons" placement="top" ngbTooltip="{{button.action}}" class="actionButton" (click)="actionButton(data)"><i class="material-icons">{{button.icon}}</i></div>
      </ng-template>
    </p-column> 
</p-dataTable>