.actionButton {
    border: 1px solid #c3c3c3;
    border-radius: 2px;
    margin: 2px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    display: inline-block;
}

.actionButton:active {
    background-color: #F4F4F4;
}

.actionButton i {
    font-size: 13px;
}

.tableFilter {
    font-size: 12px;
    width: 20vw;
}
