<div class="dashboardCardsWrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3" *ngFor="let widget of widgetData">
      <div class="card" [style.background-color]="widget.cardColor">
        <i class="fa {{widget.icon}} widgetIcon" aria-hidden="true"></i>
        <div class="media-body">
          <h4>{{widget.data}}</h4>
          <span>{{widget.label}}</span>
        </div>
        <span matTooltip="{{widget.info}}" class="infoIcon">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
</div>