<div class="dashboardCardsWrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <i class="fa fa-list-alt" aria-hidden="true"></i>
        <div class="media-body" style="text-align: right;">
          <h4>37</h4>
          <span>Total Reviews</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <i class="fa fa-star" aria-hidden="true"></i>
        <div class="media-body" style="text-align: right;">
          <h4>3.57</h4>
          <span>Average Score</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <div class="media-body" style="text-align: right;">
          <h4>#7</h4>
          <span>Team Rank</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <i class="fa fa-building" aria-hidden="true"></i>
        <div class="media-body" style="text-align: right;">
          <h4>#23</h4>
          <span>Company Rank</span>
        </div>
      </div>
    </div>
  </div>
</div>