@import '~sass/_variables';

.card {
    margin-bottom: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 20px;
    position: relative;

    .widgetIcon {
        color: #FFFFFF;
        font-size: 47px;
    }

    .infoIcon {
        position: absolute;
        top:5px;
        right:5px;
        font-size: 15px;
        color: $background-color;
        cursor: pointer;

        &:hover {
            color: #D3D3D3;
        }
    }

    h4 {
        color: #FFF;
    }
}

.media-body {
    text-align: left;
    padding-left: 20px;

    span {
        font-size: 12px;
    }
}

.media-body span {
    font-size: 14px;
    color: #FFF;
}

.media-body h4 {
    margin: 0;
    font-size: 35px;
}

