@import '~sass/_variables';

.card {
    margin-bottom: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 20px;
    position: relative;

    .widgetIcon {
        color: #FFFFFF;
        font-size: 47px;
    }


    .media-body {
        text-align: left;
        padding-left: 20px;

        h4 {
            margin: 0;
            color: #FFF;
            font-size: 35px;
        }
        
        span {
            font-size: 12px;
            color: #FFF;
        }
    }

    .infoIcon {
        position: absolute;
        top:0px;
        right:5px;
        font-size: 15px;
        color: $background-color;
        cursor: pointer;

        &:hover {
            color: #D3D3D3;
        }
    }
}