<div class="container-fluid rating-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h4>Overall Rating</h4>
    </div>
    <div class="col-lg-12 overall-rating">
      <h1>{{reviewTotals.overallRating}}</h1>
      <rating [(ngModel)]="reviewTotals.overallRating" [max]="5" [readonly]="true"></rating>
      <!-- <button mat-raised-button (click)="openDialog()" color="primary">Filters</button> -->
    </div>      
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-feedback-filters></app-feedback-filters>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-review-card [reviews]="reviews"></app-review-card>            
    </div>            
  </div>
</div>
