<div class="container-fluid">
  <div class="row">
    <div class="card" style="width: 475px; margin: 10px;" *ngFor="let review of reviews">
      <div class="card-header">
        <p>{{review.rating.overallRating}}</p>
        <rating [(ngModel)]="review.rating.overallRating" [max]="5" [readonly]="true"></rating>
      </div>
      <div class="card-body">
        <mat-tab-group>
          <mat-tab label="Rating">
            <div class="ratingContent">
              <span>Likely to Recommend:</span><rating [(ngModel)]="review.rating.recommendRating" [max]="5" [readonly]="true"></rating><br>
              <span>Politeness: </span> <rating [(ngModel)]="review.rating.politenessRating" [max]="5" [readonly]="true"></rating><br>
              <span>Helpfulness: </span> <rating [(ngModel)]="review.rating.helpfulnessRating" [max]="5" [readonly]="true"></rating><br>
              <span>Trustworthiness: </span> <rating [(ngModel)]="review.rating.trustworthyRating" [max]="5" [readonly]="true"></rating><br>
            </div>
          </mat-tab>
          <mat-tab label="Liked">
            <p></p>
            <p>{{review.liked}}</p>
          </mat-tab>
          <mat-tab label="Disliked">
            <p></p>
            <p>{{review.disliked}}</p>
          </mat-tab>
          <mat-tab label="Product Desc.">
            <p></p>
            <p>{{review.productDesc}}</p>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="card-footer text-muted">
        {{review.dateOfRating | date}}
      </div>
    </div>
  </div>
</div>
