a {
    color: inherit;
}

* {
    font-size: 13px;
}

.card-header, .card-footer {
    background-color: #FFFFFF;
}

.card-header p {
    font-size: 20px;
    margin-right: 5px;
    color: #FDC341;
    font-weight: bold;
    display: inline;
}

.rating-wrapper {
    margin-bottom: 30px;
}

.card-body {
    padding-top: 0;
}

.ratingContent {
    padding-top: 15px;
}
.ratingContent {
    font-weight: bold;
    text-align: right;
    padding-right: 130px;
}

.row {
    display: flex;
    justify-content: flex-start;
}

.card {
    width: 450px; 
    margin: 10px 10px 0px 0px;
}