<div class="container-fluid">
  <div class="row">
    <div class="card" style="width: 475px; margin: 10px;" *ngFor="let review of reviews">
      <div class="card-header">
        <p>{{review.rating.overallRating}}</p>
        <rating [(ngModel)]="review.rating.overallRating" [max]="5" [readonly]="true"></rating>
      </div>
      <div class="card-body">
        <mat-tab-group>
          <mat-tab label="Liked">
            <p></p>
            <p>{{review.liked}}</p>
          </mat-tab>
          <mat-tab label="Disliked">
            <p></p>
            <p>{{review.disliked}}</p>
          </mat-tab>
          <mat-tab label="Product">
            <p></p>
            <p>{{review.productDesc}}</p>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="card-footer text-muted">
        {{review.dateOfRating | date}}
      </div>
    </div>
  </div>
</div>
