a {
    color: inherit;
}

* {
    font-size: 13px;
}

.mat-card-title {
    font-size: 20px;
    margin-right: 5px;
    color: #FDC341;
    font-weight: bold;
    display: inline;
}

.row {
    display: flex;
    justify-content: flex-start;
}

.card {
    margin: 20px 0px 0px 0px;
}