<div class="col-xl-12">
    <div class="card">
        <app-table
            *ngIf="users" 
            [rows]="users" 
            [headerButton]="headerButton"
            [enableFilter]="true"
            [actionButtons]="actionButtons"
            [columns]="columns"
            [pageSize]="page.pageSize"
            [pageSizeOptions]="[10,25,50,100]"
            [length]="page.length"
            [pageNumber]="page.pageNumber"
            [orderBy]="page.orderBy"
            [orderDir]="page.orderDir"
            (pageCallback)="onPage($event)"
            (buttonCallback)="onButtonClick($event)">
        </app-table>
    </div>
</div>