/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import '~material-design-icons/iconfont/material-icons.css';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-color: #F4F4F4;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 30px 30px 30px 50px;
    margin-top: 36px;
    transition: padding 0.5s;
}

#page-content-wrapper.sideBar {
    padding-left: 250px;
    transition: padding-left 0.25s;
}

/* Bootstrap */
.btn-primary {
    background-color: #1fb7ec;
    border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #434b56 !important;
}

.btn-primary:active, .btn-primary.active {
    background-color: #23272D !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none !important;
}

/* Star Rating Color Customization */
.star-icon {
    font-size: 20px !important;
}
.star-icon:before {
    color: #FEC42E !important;
    top: -3px !important;
}