<mat-card class="leaderboardWrapper">

<div class="example-container">
    <div class="example-header">
        <mat-card-title>Leaderboard</mat-card-title>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    
    <mat-table #table [dataSource]="dataSource">
      <!-- Rank Column -->
      <ng-container matColumnDef="rank">
        <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.rank}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.score}} </mat-cell>
      </ng-container>

      <!-- Supervisor Column -->  
      <!-- TODO: Make this only visible to system admins -->
      <ng-container matColumnDef="supervisor">
        <mat-header-cell *matHeaderCellDef> Supervisor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.supervisor}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
    [pageSize]="5"
    [pageSizeOptions]="[5]">
    </mat-paginator>

  </div>

</mat-card>