.example-container {
  display: flex;
  flex-direction: column;
}

.mat-table {
  overflow: scroll;
}

.mat-card {
  max-height: 400px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.leaderboardWrapper {
  margin-bottom: 20px;
  padding: 0;
  overflow: scroll;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}