.card {
  margin-bottom: 20px;
  padding: 0;
  overflow: scroll;

  border: 0 solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.example-container {
  display: flex;
  flex-direction: column;
}

.mat-table {
  overflow: scroll;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-card-title {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.mat-form-field input {
  margin: 0;
}