<div class="card">
  <div class="card-title">
    <h4>Leaderboard</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Score</th>
            <!-- <th>Supervisor</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of leaderboard; let i = index">
            <td>{{i + 1}}</td>
            <td>{{user.user.firstName}} {{user.user.lastName}}</td>
            <td>{{user.averageScore | number : '1.2-2' }}</td>
            <!-- <td>Include supervisor here for admins</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <mat-paginator class="leaderboardChart" [length]="100" [pageSize]="5" [pageSizeOptions]="[5]"></mat-paginator>
</div>