<div class="card">
  <div class="card-title">
    <h4>Leaderboard</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Score</th>
            <!-- <th>Supervisor</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rank of leaderboard; let i = index">
            <td>{{i + 1}}</td>
            <td>{{rank.user.firstName}} {{rank.user.lastName}}</td>
            <td>{{rank.ratingAvg | number : '1.2-2' }}</td>
            <!-- <td>Include supervisor here for admins</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <mat-paginator 
    class="leaderboardChart" 
    [length]="length"
    [pageSize]="pageSize"  
    [pageSizeOptions]="[5]"
    (page)="pageEvent = onPageEvent($event)">
  </mat-paginator>
</div>